h2{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image:linear-gradient(white, navy);
    background-color: navy;
    padding: 10px;
    border-radius: 10px;
    box-shadow:3px 5px 10px  0 gold;
}
}body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    box-shadow:3px 5px 10px  0 rgb(100, 91, 37);
}

p{
  background-color: orange;  
}

img src{
    border-radius: 20px;
     box-shadow:3px 5px 10px  0 red;
} 
h3 {
    margin: 0;
    text-align: center;
    font-size: 60px;
}
